# Virtual environment
venv/

# Python bytecode compiled files
__pycache__/
*.pyc

# Database files
*.sqlite3

# Log files and environment variables
*.log
.env

# Coverage reports
.coverage

# Visual Studio Code files
.vscode/

# Frontend node_modules
node_modules/
dist/